
#page-wrap{
    background: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;

    &::after{
        position: absolute;
        z-index: 0;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(#000, .7);
    }
}
.content{
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 30px;
}

.main-logo{
    width: 100%;
    display: inline-block;
    max-width: 300px;
}
#content{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
}

.card{
    overflow: hidden;
    text-align: left;
    flex: 1;
    width: 100%;
    min-width: 200px;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background: rgba($blue, .2);
    border: 1px solid $blue;
    align-items: center;
    cursor: pointer;

    // &:not(.popup-wrapper){
    //     cursor: pointer;
    // }
    &.popup-wrapper{
        cursor: default;
    }

    .main-info{
        display: flex;
        align-items: center;

        .avatar{
            background-color: rgba($blue, .5);
            max-width: 80px;
            height: auto;
        }
        .name{
            margin: 10px 15px;
            font-size: 26px;
        }
    }
   

    .specs{
        padding: 20px 10px 0;

        .tag{
            margin: 6px 0;
            color: $blue;
            text-transform: uppercase;
            font-size: 14px;

            .tag-info{
                color: #fff;
                font-weight: bolder;
                text-transform: initial;
                font-size: 16px;
            }
        }
    }

}


#popup{
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(#000, .93);
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    .popup-wrapper{
        max-width: 600px;
        padding: 30px;

        .main-info{
            .avatar{
                max-width: 230px;
            }
          .specs{
              padding: 0 30px;

              .name{
                  font-size: 34px;
                  line-height: 1;
                  margin: 10px 0 20px;
              }

              .tag{
                  font-size: 16px;
              }

              .tag-info{
                  font-size: 18px;
              }

              .status{
                  margin-top: 20px;
                  display: inline-block;
                  color: $green;
                  text-transform: uppercase;
                  font-weight: 500;
                  font-size: 14px;
                  padding: 7px 14px;
                  background-color: rgba($green, .3);
                  border: 1px solid $green;

                  &.dead{
                      color: $red;
                      background-color: rgba($red, .3);
                     border: 1px solid $red;
                  }
                  &.unknown{
                    color: $blue;
                    background-color: rgba($blue, .3);
                   border: 1px solid $blue;
                }
              }
          }
        }

        .text{
            text-align: center;

           p{
               text-align: left;
            font-weight: 300;
            margin: 30px 0;
           }
        }
    }
}

.pagination{
    position: relative;
    list-style-type: none;
    display: inline-flex;
    padding: 0;
    background: rgba($blue, .15);
    border: 1px solid $blue;
    border-radius: 3px;

    li{
      transition: all .2s ease-out;
      &:not(:last-child){
          border-right: 1px solid $blue;
      }

      a{
        display: block;
        padding: 11px 17px;
        color: darken($blue, 10);
        font-weight: bold;
      }

      &:hover{
        background: rgba($blue, .2);
      }

      &.active{
          background: rgba($blue, .3);

          a{
              color: lighten($blue, 30);
          }
      }
    }
}

@media screen and (min-width:821px){
    .card{
        min-width: 290px;
        max-width: 380px;

        .main-info{
            .avatar{
                min-width: 100px;
            }
        }
    }
}

